page-map {
    #map_canvas{
        height: 90%;
    }

    .line{
        display: flex;
    }
    .home-card{
        width: 45%;
        height: 30%;
        margin: 0 auto 15px;
    }
    .img-zone{
        width: 30%;
        height: 30%;
        margin: 15px auto;
    }

}
